.auth-container{
    background-image: url(assets/images/authBackGround.png);
}

.bg-overlay{
    background:  linear-gradient(51.22deg, rgba(47, 140, 96, 0.63) -22.39%, rgba(0, 0, 0, 0.6237) 61.76%);
}


.sideBar-container .css-1wvake5{
    border: none;
}
.sideBar-container .ps-sidebar-container{
    background-color: rgba(31, 38, 62, 1);
    color: #fff;
    height: 100%;
    min-height: 100vh;
    border-top-right-radius: 58px;
}

.sideBar-container .ps-sidebar-container .ps-menu-button:hover{
    background-color: rgba(0, 146, 71, 0.1);
}

.sideBarLogo:hover{
    background-color: rgba(31, 38, 62, 1);
}
.asideLogoNotCollaps{
    margin-left: 80px;
    transition-duration: 800ms;
}
.asideLogoCollaps{
    transition-duration: 350ms;
}

.navBorder{
    border-radius: 16px;
}

.headerContainer{
    width: 100%;
    height: 100%;
    background-image: url(assets/images/headerBg.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 30px
}


.notFoundContainer{
    background-image: url(assets/images/not-found-bg.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

.recipesBtn{
    background-color: #fff;
    border: none;
}

.pointerClass{
    cursor: pointer;
}


.fileUploadBox{
    display: flex;
    justify-content: center;
    width: 100%;
}

.fileUploadBox .guZdik {
    border: 2px dashed rgb(63 141 0) !important;
    width: 100% !important;
    max-width: 800px !important;
    height: 90px;

}

.fileUploadBox .jWkLDY{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipesHeader{
    background-color: rgba(240, 255, 239, 1);
    border-radius: 10px;
}

.favHeart{
    color: #eb0909;
    font-size: 30px;
}

.favHeart:hover{
    color: #a62828;
    cursor: pointer;
}